:root{--maincolor:#10cab7;
--secondcolor:#ebeced;
--thirdcolor: #2c4755;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Cairo', sans-serif;
font-family: 'Jomhuria', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.header {
padding: 20px;
}
.header .container{   
     display: flex;
    justify-content: space-around;
  
}
.container .links .icons {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 110px;
    justify-content: flex-end;
}
.container .links {
position: relative;
z-index: 1;
}
.links .icons span{ 
    margin-bottom: 5px;
    background-color: black;
    


}
.container .logo {
    width: 60px;
}
.header .links .icons span:first-child {
    height: 2px;
    width: 40px;
 }
.header .links .icons span:nth-child(2) {
    height: 2px;
    width: 20px;
 }
.header .links .icons span:last-child {
    height: 2px;
    width:40px ;
 }
.header .links .icons span:nth-child(2):hover {
    height: 2px;
    width: 40px;

 }
 ul {
    display: none;
     list-style: none;
    background-color: #EEE;
    width: 150px;
    height: 100px;
    position: absolute;
    left: -10px;
    top: 20px;
    padding: 0;
  }
 ul::before {
    content: '';
    border-width: 10px;
    border-color: transparent transparent #eee transparent;
    border-style: solid;
    position: absolute;
    top: -20px;
    left: 130px;
 }
 a {
    background-color: transparent;
    text-decoration: none;
    display: block;
    padding: 3px;
    color: #333;
  }
.links ul li:not(:last-child) a{ border-bottom: 1px solid black;}
 a:hover {padding-left: 15px;}
.links:hover ul {display: block;}
.first {
    background-image: url(../image/landing.jpg);
    width: 100%;
    height:calc(100vh - 64px);
    background-size: cover;
    position: relative;
}
.first .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.first .container h1 {
display: flex;
justify-content: center;
align-items: center;
color: var(--maincolor);
margin: 0;
}
.icon {
    display: flex;
    background-color: #eee;
    width: 100%;
    height: 50vh;
    flex-wrap: nowrap;
    position: relative;
   margin: auto;
    padding: 80px;
    align-items: center;
}
.icon i {
    color: var(--maincolor);
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon h3 {
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}
.fg .container {
    display: grid;
    width: 100%;
    height: 100vh;
    gap: 30px;
    padding: 30px;
}
.container .head {
    grid-area: 1/1/1/5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    grid-area: 1/1/1/5;
    position: relative;
}

.container .services {
    color: var(--secondcolor);
    font-weight: bold;
    font-size: 70px;
}
.container .head p {
    position: absolute;
    top: 135px;
}
.container .graphics {
    grid-area: 2/1/3/1;
    display: flex;
    
}
.container .web {
    grid-area: 2/2/2/3;
    display: flex;
}
.container .ui {
    grid-area: 3/1/3/2;
    display: flex;
}
.container .development{
    grid-area: 3/2/3/3;
    display: flex;
}
.container .screen{
    background-color:var(--thirdcolor);
    width: 100px;
    grid-area: 2/5/4/5;
    position: relative;
}
.container .screen::after {
    content: '';
    background-image: url(../image/services.jpg);
    position: absolute;
    left: -92px;
    top: 30px;
    width: 170px;
    height: 330px;
    background-size: cover;
}
.graphics div {
    flex: 1;
}
.web div {
    flex: 1;
}
.ui div {
    flex: 1;
}
.development div {
    flex: 1;
}
.fg .container i {
    width: 60px;
    margin-top: 21px;
    color: var(--maincolor);
}
.second   {
    display: grid;
    background-color: #f6f6f6;
   padding-top: 60px;
   padding-bottom: 60px;
}
.portfolio {
    font-size: 70px;
    text-align: center;
    color:var(--secondcolor) ;
    font-weight: bold;
    margin: 0;
}
.portfolio + p {
    margin: -20px;
    text-align: center;
    font-size: 15px;
    padding: 0;
}
.second .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 30px;
   margin-top: 80px ;
  margin-left: 15%;
   
}
.card {
   margin: auto;
   background-color: white;

}
.card img{
    
    max-width: 100%;
}
.card .info {
    padding:20px ;
}
.card .info h3 {
    margin: 0;
}
.card .info p {
    line-height: 1.6;
    color: #777;
    margin-bottom: 0;
}
.father {
    display: flex;
   padding-top: 60px;
   padding-bottom: 60px;
}
.father .container {
    padding-left: 50px;
}
.about{
    font-size: 70px;
    text-align: center;
    color:var(--secondcolor) ;
    font-weight: bold;
    margin: 0;
}
.about + p {
    margin: -20px;
    text-align: center;
    font-size: 15px;
    padding: 0;
}
.container .photo  {
    position: relative;
    margin-right: 80px;
}
.main{
   display: flex;
    margin-top: 80px;
    flex-wrap: nowrap;
}
.container .photo img {
    height: 375px;
    width: 250px;

}
.container .photo::before{
    content: '';
    position: absolute;
    width: 80px;
    height: calc(100% + 80px);
    background-color: #EEE;
    top: -30px;
    left: -40px;
    z-index: -1;
}
.container .photo::after {
    content: '';
    position: absolute;
    width: 250px;
    height: 375px;
    border-bottom: 50px solid var(--maincolor);
    border-left: 130px solid var(--maincolor);
    left: 135px;
    top: -61px;
    z-index: -1;

}
hr {
    margin-left: 0;
    width: 50%;
    background-color: var(--maincolor);
}
.eltext p:first-child{font-weight: bold;}
.s-c {
    
    background-color: #f6f6f6;
    padding-bottom: 60px;
    padding-top: 60px;
}
.contact h1:first-child {
    font-size: 70px;
    text-align: center;
    color:var(--secondcolor) ;
    font-weight: bold;
    margin: 0;

}
.contact p {
    margin-top: -20px;
    text-align: center;
    font-size: 15px;
    padding: 0;
    margin-bottom: 70px;
}
.contact h1 {
    color:var(--thirdcolor);
    text-align: center;
}
.contact a {
    color: var(--maincolor);
text-align: center;
}
.contact h5 {
    text-align: center;
}
.final {
    width: 100%;
    height: 30px;
    background-color: var(--thirdcolor);
    padding-bottom: 60px;
    padding-top: 20px;
    text-align: center;
}
h4 span{color: var(--maincolor);}
.final h4{
    text-align: center;
    color: white;
    margin: auto;
    padding: 10px;
}



